# Set the email address that should be used to contact you if there is a problem with 
# your TLS certificates.
{
  email jtforward2020@gmail.com
}

homebh.ga/api/* {
  reverse_proxy localhost:8080
 }

homebh.ga {
  root * /etc/www/frontend/dist
  try_files {path} /index.html
  file_server
}


