# Set the email address that should be used to contact you if there is a problem with 
# your TLS certificates.
{
  email jtforward2020@gmail.com
}

# Remove the http:// prefix from your site address.

homebh.ga/api/* {
  reverse_proxy localhost:8080
 }

homebh.ga {
 reverse_proxy localhost:3000
}